body {
    background: rgb(0, 0, 0);
    color: rgb(240, 240, 240);
    text-align: center;
    margin: 0 auto;
    padding: 0 1em;
    max-width: 1420px;
    overflow: hidden;
}

main {
    margin-top: 3em;
    height: 90vh;
    border: 5px inset rgb(141, 171, 226);
    border-radius: 16px;
}

#character {
    height: fit-content;
    width: fit-content;
    scale: 1.5;
}