body {
    background: rgb(0, 0, 0);
    color: rgb(240, 240, 240);
    text-align: center;
    margin: 0 auto;
    padding: 0 1em;
    max-width: 1420px;
    overflow: hidden;
    font-size: clamp(12px, 1vw, 1em);
}

main {
    height: 90vh;
    border: 5px inset rgb(235, 255, 57);
}

#food-man {
    width: fit-content;
    height: auto;
    scale: 1.3;
}

.food {
    position: absolute;
    width: fit-content;
    height: auto;
    scale: 1.3;
    opacity: 100%;
    animation: foodSpawn 1s linear forwards;
}

/* CSS Animation */
@keyframes foodSpawn {
    0% {
        opacity: 100%;
    }

    25% {
        opacity: 0%;
    }

    50% {
        opacity: 100%;
    }

    75% {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}